#reservation-form-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  width: 200px;
}
#reservation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  column-gap: 5em;
}
